@model MyStudentDAL.Models.Students

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Click on DELETE button to check things to be deleted.</h4>

@{Html.RenderPartial("_PartialDelete");}


@*@Html.Partial("~/Views/Students/_Partial1.cshtml")
@{Html.RenderPartial("_Partial1");}*@

